<!doctype html>
<html lang="en" xmlns="http//w3.org/1999/xhtml" xmlns:th="http//www.thymeleaf.org">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/Inicio.css" th:href="@{/Inicio.css}">
  </link>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-dark  " >
        <a class="navbar-brand" href="/principal" >Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="btn btn-outline-light" href="/productos">Producto </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-light" href="/empleados">Empleado</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-light" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-light" href="/ventas" >Nueva Venta</a>
            </li>
          </ul>
            <div class="dropdown " id="salida">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario
            </button>
            <div class="dropdown-menu text-center " aria-labelledby="dropdownMenuButton">
              
              <img src="https://thumbs.dreamstime.com/b/icono-del-usuario-46707697.jpg" width="80" alt="80" >
              
              <div
                  class="dropdown-divider"> 
                </div>
                <a  Class="dropdown-item" href="/login"> Salir</a>
               
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="m-4"  id="fondo" style= "height:100%" >  
   <div class="row" >
        <div class="col-5" id="columna1" >
      
   <form action="" th:action="@{/productos}" method="POST" th:object="${producto}" >
         <div class="form-group">
             <label>Producto</label>
            <input id ="texto" type="text" name="" class="form-control" th:field="*{nombres}">
         </div>
         <div class="form-group">
            <label>Precio</label>
           <input id ="texto" type="text" name="" class="form-control" th:field="*{precio}">
        </div>
        <div class="form-group">
          <label>Stock</label>
          <input id ="texto" type="text" name=""  class="form-control" th:field="*{stock}">
        </div>
        <div class="form-group">
            <label>Estado</label>
           <input id ="texto" type="text" name="" class="form-control" th:field="*{estado}">
        </div>
      
            <div id="boton">
              <button type="submit" name="accion"  class="btn btn-info">Agregar</button>
            </div>
       <br>
       <br>
      </div>    
   
</form>

        <div class="col-7" id="columna2">
            <br>
            <br>
          <div >
            <table class = "table table-hover" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>PRECIO</th>
                        <th>STOCK</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>   
                    <tr th:each=" pr : ${ListaProductos}"></td>
                      <td th:text="${pr.getIdProducto()}"></td>
                        <td th:text="${pr.getNombres()}"></td>
                        <td th:text="${pr.getPrecio()}"></td>
                        <td th:text="${pr.getStock()}"></td>
                        <td th:text="${pr.getEstado()}"></td>
                        <td > <form  > <a  type="submit"class="btn btn-warning" th:href="@{'/producto/'} + ${pr.getIdProducto()} + @{'/editar'}">Editar</a> </form>
                          <form th:action="@{'/productos/'} + ${pr.getIdProducto()}" method="post" > <button type="submit" class="btn btn-danger"  >Eliminar</button></form>
                        </td>
                    </tr>
                </tbody>

            </table> 
          </div>
           
        </div>

        </div>

      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>